header{
  background: linear-gradient(180deg, black, lightblue);
}

header > h1{
  font-family: 'Merriweather', serif;
  font-size: 3.5em;
  border: black solid 2px;
  border-radius: 20px;
  padding: 20px;
  background-color: lightslategray;
  box-shadow: 15px 15px 15px gray;
}

menu{
  margin: 0;
  background-color: #38393B;
  border-bottom: solid 1px white;
}

menu > h1{
  margin: 10px auto;
  color:white;
  font-family: 'Lobster', cursive;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg,black,lightblue);
}

main > .regField > form > #inpField{
  border-radius: 20px;
  width: 400px;
  height: 40px;
  text-align: center;
  margin-right: 10px;
}

main > .regField > form > #subButton{
  border: black solid 2px;
  height: 40px;
  width: 90px;
  font-weight: bold;
  border-radius: 20px;
}

.preFooter{
  background: linear-gradient(90deg,black,lightblue);
}

footer{
  background-color: #38393B;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > h3{
  margin: 10px auto;
/*  font-family: 'Lobster', cursive;*/
  color: white;
}