.container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 60px auto 60px 40px;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 1 / -1;
}

menu{
    grid-column: 1 / -1;
}

main{
    grid-column: 1 / -1;
}

.preFooter{
    grid-column: 1 / -1;
}

footer{
    grid-column: 1 / -1;
}