header{

  background-color: lightblue;

}

header > h1{
  font-family: 'Merriweather', serif;
  font-size: 3.5em;
  border: black solid 2px;
  border-radius: 20px;
  padding: 20px;
}

menu{
  margin: 0;
  background-color: darkorange;
}

main{
  background-color: lightslategrey;
}

footer{
  background-color: chartreuse;
}